{% extends 'index.html.twig' %}

{% block title %}Hello CharacterController!
{% endblock %}

{% block body %}
	<ul>
		<li>Nom :
			{{ character.name }}</li>
		<li>Niveau :
			{{ character.level }}</li>
		<li>Date de naissance :
			{{ character.birthdate | date('d-m-y') }}</li>
		<li>Description :
			{{ character.description }}</li>
		<li>Classe :
			{{ character.type }}</li>
		<li>Compétences :
			<ul>
				{% for skill in character.skill %}
					<li>
						{{ skill }}
					</li>
				{% endfor %}
			</ul>
		</li>
		<li>experience :
			{{ character.experience }}
			xp</li>
		<li>Vie :
			{{ character.health }}
			pv</li>
	</ul>

	<a href="/character/delete/{{ character.id }}">supprimer</a>
	<a href="/character/edit/{{ character.id }}">modifier</a>
	<p></p>
	<a href="/">Home Page</a>
{% endblock %}
